<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.titre}">Détail</title>
</head>
<body>
<h1 th:text="${film.titre}">Titre</h1>
<h3 ><span th:text="${film.resume}"></span></h3>

<ul>
    <li th:each="act : ${acteur}">
        <a th:text="${act.getPrenom()} " th:href="@{/act/{id}(id=${act.getIdp()})}"></a>
    </li>
</ul>

<!--<img th:src="@{/{id} (id=${film.afficheNom})}"/>-->

<img th:src="@{${url}}"/>



</body>
</html>